body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  color: #fff;
}

.commands-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.command-button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  margin: 5%;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}

.command-button:hover {
  border-color: #0264af;
}

.command-button:active {
  border-color: #0264af;
  background-color: #1990eb94;
}
