<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">

	<link href="{{CSS_URI}}" rel="stylesheet">
</head>

<body>
	<div class="flags-container">
		<div class="flag-item" onclick="toggleCheckbox('c-files')">
			<input type="checkbox" id="c-files" class="flag-checkbox" {{C_FILES_CHECKED}}>
			<label for="c-files" class="flag-label">C Files (.c, .h)</label>
		</div>
		
		<div class="flag-item" onclick="toggleCheckbox('cpp-files')">
			<input type="checkbox" id="cpp-files" class="flag-checkbox" {{CPP_FILES_CHECKED}}>
			<label for="cpp-files" class="flag-label">C++ Files (.cpp, .hpp, .tpp)</label>
		</div>
		
		<div class="flag-item" onclick="toggleCheckbox('makefile')">
			<input type="checkbox" id="makefile" class="flag-checkbox" {{MAKEFILE_CHECKED}}>
			<label for="makefile" class="flag-label">Makefile</label>
		</div>

		<hr>

		<div class="flag-item" onclick="toggleCheckbox('count-lines')">
			<input type="checkbox" id="count-lines" class="flag-checkbox" {{COUNT_LINES_CHECKED}}>
			<label for="count-lines" class="flag-label">Count lines</label>
		</div>
	</div>

	<hr>

	<div class="user-info-container">
		<div class="input-item">
			<label for="username" class="input-label">Username:</label>
			<input type="text" id="username" class="input-field" value="{{USERNAME_VALUE}}" placeholder="Enter username">
		</div>
		
		<div class="input-item">
			<label for="email" class="input-label">Email:</label>
			<input type="email" id="email" class="input-field" value="{{EMAIL_VALUE}}" placeholder="Enter email">
		</div>
	</div>

	<div class="save-container">
		<button class="save-button" onclick="saveFlags()">
			Save
		</button>
	</div>

	<script>
		const vscode = acquireVsCodeApi();

		function toggleCheckbox(checkboxId)
		{
			const	checkbox = document.getElementById(checkboxId);
			checkbox.checked = !checkbox.checked;
		}

		function saveFlags()
		{
			// Collect the state of the checkboxes
			const	flags = {
				cFiles: document.getElementById('c-files').checked,
				cppFiles: document.getElementById('cpp-files').checked,
				makefile: document.getElementById('makefile').checked,
				username: document.getElementById('username').value,
				email: document.getElementById('email').value,
				countLines: document.getElementById('count-lines').checked
			};

			vscode.postMessage({ command: 'save_flags', data: flags });
		}
	</script>
</body>

</html>