<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="color-scheme" content="light dark">

	<link href="{{CSS_URI}}" rel="stylesheet">
</head>

<body>

	<div class="commands-container">

		<button class="command-button" onclick="sendCommand('place_header_in_all_files')">
			Place header in all files
		</button>
		
		<button class="command-button" onclick="sendCommand('place_header')">
			Place header in current file
		</button>
	</div>

	<script>
		const vscode = acquireVsCodeApi();

		// Send command to extension
		function sendCommand(command)
		{
			vscode.postMessage({ command: command });
		}
	</script>

</body>
</html>